ins {
    background-color: #ccffcc;
}

del {
    background-color: #ffcccc;
    text-decoration: line-through;
}

.fluid-diff-hidden {
    display:none;
}

.fluid-diff-zeropx {
    width:   0px;
    height:  0px;
    padding: 0px;
    margin:  0px;
}
