ins {
    background-color: #cfc;
}

del {
    background-color: #fcc;
    text-decoration: line-through;
}

.fluid-diff-hidden {
    display: none;
}

.fluid-diff-zeropx {
    height: 0;
    margin: 0;
    padding: 0;
    width: 0;
}
