<html lang="en">
    <head>
        <title>"Diff" demo...</title>
    </head>
    <body>
        <link rel="stylesheet" href="/src/css/fluid-diff.css"/>

        <h2>String Diff</h2>
        <p>
            {{>diff stringDiff}}
        </p>

        <h2>Array Diff</h2>
        {{>diff arrayDiff}}
    </body>
</html>
